* {
	box-sizing: border-box;
}

html,
body,
#root,
.game {
	height: 100%;
}

body {
	background-color: #685c4f;
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 0;
	padding: 20px;
}

.board {
	text-align: center;
}

.board-row {
	display: table;
}

.status {
	font-size: 1.1rem;
	text-align: center;
}

.square {
	width: 50px;
	height: 50px;
	color: bisque;
	background: #666;
	border: 2px solid #666;
	float: left;

	line-height: 32px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;

	clip-path: polygon(calc(0% + 2px) calc(0% + 2px),
			/* top left */
			calc(100% - 2px) calc(0% + 2px),
			/* top right */
			calc(100% - 2px) calc(100% - 2px),
			/* bottom right */
			calc(0% + 2px) calc(100% - 2px)
			/* bottom left */
		);
	transition: clip-path 0.1s linear;
}

.square:hover {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.game {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: 2rem;
	background-color: #b7a99a;
}

.game-board {
	display: flex;
	justify-content: center;
	background-color: bisque;
	padding: 20px;
	border: 1px solid transparent;
	border-radius: 2rem;
}

.game-info {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
	color: white;
	overflow: auto;
}

.game-status {
	margin-inline: auto;
	font-size: 1.2rem;
}

.filled-message {
	text-align: center;
	margin-inline: auto;
	font-size: 1.05rem;
}

.moves {
	display: flex;
	margin-inline: auto;
	padding: 0.5rem;
	flex-direction: column-reverse;

	overflow: scroll;

	border: 2px solid rgba(104, 92, 79, 0.4);
	border-radius: 0.5rem;

	transition: border 0.2s linear;
}

.moves:hover {
	border: 2px solid rgba(104, 92, 79, 1);
}

.move {
	min-width: 130px;
	margin: 2px;
	padding: 5px;
	color: white;
	background-color: #685c4f;
	border: 5px solid bisque;

	clip-path: polygon(calc(0% + 3px) calc(0% + 3px),
			/* top left */
			calc(100% - 3px) calc(0% + 3px),
			/* top right */
			calc(100% - 3px) calc(100% - 3px),
			/* bottom right */
			calc(0% + 3px) calc(100% - 3px)
			/* bottom left */
		);
	transition: clip-path 0.1s linear;

}

.move:hover {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.reset-button {
	margin-top: 0.75rem;
	background-color: bisque;
	color: #685c4f;
	font-size: 1.2rem;
	font-weight: bold;
	border-color: #685c4f;
}

@media (max-width: 350px) {
	body {
		padding: 5px;
	}

	.game {
		padding-inline: 0.25rem;
		border-radius: 0;
	}

	.game-board {
		padding: 5px;
		border-radius: 0.5rem;
	}

	.game-status {
		font-size: 1rem;
	}
}