html,
body,
#root,
.game {
	height: calc(100% - 10px);
}

body {
	background-color: #685c4f;
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

.board {
	text-align: center;
}

.board-row {
	display: table;
	margin-inline: auto;
}

.status {
	margin-bottom: 20px;
	font-size: 1.1rem;
	text-align: center;
}

.square {
	color: wheat;
	background: #666;
	border: 1px solid #BBB;
	float: left;
	font-size: 32px;
	font-weight: bold;
	line-height: 50px;
	height: 50px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 50px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #FFF;
}

.filled-message {
	margin-bottom: 0.5rem;
}

.game {
	display: flex;
	padding: 2rem;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: 2rem;
	background-color: #b7a99a;
}

.game-board {
	display: flex;
	justify-content: center;
	background-color: bisque;
	padding: 30px;
	border: 1px solid transparent;
	border-radius: 2rem;
}

.game-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 1rem;
	margin-inline: 20px;
}