* {
	box-sizing: border-box;
}

html,
body,
#root,
.game {
	height: 100%;
}

body {
	background-color: #685c4f;
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 0;
	padding: 20px;
}

.board {
	text-align: center;
}

.board-row {
	display: table;
}

.status {
	font-size: 1.1rem;
	text-align: center;
}

.square {
	width: 50px;
	height: 50px;
	padding: 2px;
	color: bisque;
	background: #666;
	border: 1px solid #BBB;
	float: left;

	line-height: 32px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.square:hover {
	padding: 0px;
	border-width: 3px;
}

.game {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: 2rem;
	background-color: #b7a99a;
}

.game-board {
	display: flex;
	justify-content: center;
	background-color: bisque;
	padding: 20px;
	border: 1px solid transparent;
	border-radius: 2rem;
}

.game-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 0.75rem;
	color: white;
}

.game-status {
	margin-inline: auto;
	font-size: 1.2rem;
}

.filled-message {
	text-align: center;
	margin-inline: auto;
}

.moves {
	display: flex;
	margin-inline: auto;
	flex-direction: column;
}

.move {
	min-width: 130px;
	margin: 2px;
	padding: 5px;
	color: white;
	background-color: #685c4f;
	border: 2px solid bisque;
}

.move:hover {
	border-width: 4px;
	padding: 3px;
}

.reset-button {
	margin-bottom: 0.75rem;
	background-color: bisque;
	color: #685c4f;
	font-size: 1.2rem;
	font-weight: bold;
	border-color: #685c4f;
}

@media (max-width: 350px) {
	body {
		padding: 5px;
	}

	.game {
		padding-inline: 0.25rem;
		border-radius: 0;
	}

	.game-board {
		padding: 5px;
		border-radius: 0.5rem;
	}

	.game-status {
		font-size: 1rem;
	}
}